<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRCTerraria.IndigoIRC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IRCTerraria.IRCTerrariaConfigs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IRCTerraria.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IRCTerraria.IndigoIRC>
            <setting name="host" serializeAs="String">
                <value>irc.esper.net</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="nick" serializeAs="String">
                <value>IRCTerraria_Client</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>IRCTerraria</value>
            </setting>
            <setting name="channel" serializeAs="String">
                <value>#ExampleChannel</value>
            </setting>
            <setting name="auth" serializeAs="String">
                <value>mypassword</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>USER IndigoIRCBot 0 * :IndigoIRC</value>
            </setting>
            <setting name="ingameFormatting" serializeAs="String">
                <value>[IRC] %NAME%&gt; </value>
            </setting>
            <setting name="ingameColour" serializeAs="String">
                <value>255;117;117</value>
            </setting>
            <setting name="ircFormatting" serializeAs="String">
                <value>%NAME%&gt; </value>
            </setting>
            <setting name="commandPrefix" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="ignoredPrefixes" serializeAs="String">
                <value>#@</value>
            </setting>
            <setting name="ignoredIrcPrefixes" serializeAs="String">
                <value>!$</value>
            </setting>
        </IRCTerraria.IndigoIRC>
        <IRCTerraria.IRCTerrariaConfigs>
            <setting name="host" serializeAs="String">
                <value>irc.esper.net</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="nick" serializeAs="String">
                <value>IRCTerraria_Client</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>IRCTerraria</value>
            </setting>
            <setting name="channel" serializeAs="String">
                <value>#ExampleChannel</value>
            </setting>
        </IRCTerraria.IRCTerrariaConfigs>
        <IRCTerraria.Settings1>
            <setting name="host" serializeAs="String">
                <value>irc.esper.net</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="nick" serializeAs="String">
                <value>IRCTerraria_Client</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>IRCTerraria</value>
            </setting>
            <setting name="channel" serializeAs="String">
                <value>#ExampleChannel</value>
            </setting>
        </IRCTerraria.Settings1>
    </userSettings>
</configuration>